
<div class="box">

    <h3>
        <mat-icon>registration</mat-icon><br>
        Registration
    </h3>

    
    <form #f="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>ID: </mat-label>
            <input matInput type="text" name="id" [(ngModel)]="userData.userId" minlength="4" required #idBox="ngModel">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email: </mat-label>
            <input matInput type="email" name="email" [(ngModel)]="userData.email" required email #emailBox="ngModel">
            </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>password: </mat-label>
            <input matInput type="text" name="password" [(ngModel)]="userData.password" minlength="4" required
                #passwordBox="ngModel">
            </mat-form-field><br>

        <mat-form-field appearance="outline">
            <mat-label>conform password: </mat-label>
            <input matInput type="text" name="message" [(ngModel)]="password" required #conformBox="ngModel">
        </mat-form-field><br>
    </form>
    <span *ngIf="message"> id already exist</span>
    <mat-error *ngIf="idBox.errors?.required && idBox.touched">Missing ID</mat-error>
    <mat-error *ngIf="idBox.errors?.minlength&& idBox.touched">ID must be at least 4 characters long</mat-error>
    <mat-error *ngIf="emailBox.errors?.required && emailBox.touched">Missing email</mat-error>
    <mat-error *ngIf="emailBox.errors?.email && emailBox.touched">Invalid email</mat-error>
    <mat-error *ngIf="passwordBox.errors?.required && passwordBox.touched">Missing password</mat-error>
    <mat-error *ngIf="passwordBox.errors?.minlength && passwordBox.touched">ID must be at least 4 characters long </mat-error>
    <mat-error *ngIf="conformBox.errors?.required && conformBox.touched">Missing conform password</mat-error>
    <mat-error *ngIf="conformBox.touched && password!=userData.password">The passwords do not match</mat-error>

        <button
        [disabled]="!f.form.valid" (click)="onSend()" mat-stroked-button>
            <mat-icon>send</mat-icon>
            Send
        </button>
        <button (click)="onClear()" mat-stroked-button type="reset">
            <mat-icon>delete</mat-icon>
            Clear
        </button>


</div>