/* app-add-product{
    float: left;
} */
/* app-edit-product{
    float: left;
} */
table{
    margin: 30px auto;
   
}
table,th,td{
    border: 1px solid rgb(54, 54, 54);
    width: 600px;
}
tr:nth-child(even){
    background-color:white;
}
tr:nth-child(odd){
    background-color: rgb(204, 202, 202);
}

div{
    height: 85%;
    overflow: auto;
}
/* div:nth-of-type(2){
    float: left;
} */
h4{
    cursor: pointer;
}
button{
    cursor: pointer;
}

.message{
    color:aqua ;
}