
<h2>Welcome to {{userName}} the Admin</h2>

<h4> To add a product click <mat-icon (click)="add()">add_circle</mat-icon>
</h4>
<button (click)="logOut()" mat-stroked-button>
    <mat-icon>logout</mat-icon>Log-Out
</button>
<div *ngIf="toAdd">
    <app-add-product (addedItemEvent)="itemAdded()"></app-add-product>
</div>
<div *ngIf="products">

    <table>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>
                Edit
            </th>
        </tr>
        <tr *ngFor="let product of products">

            <th>
                {{product.productName}}
            </th>

            <th>
                {{product.categoryId}}
            </th>
            <th>
                {{product.price}}
            </th>
            <th>
                <app-thumbnail [imageSorce]="imageUrl+product.imgPath"></app-thumbnail>
            </th>
            <th>
                <button (click)="onEdit(product)" mat-stroked-button>
                    <mat-icon>created</mat-icon>
                </button>
            </th>

    </table>
</div>

<div *ngIf="show">
    <app-edit-product (editedItemEvent)="itemEdited()" [productToEdit]="productToEdit"></app-edit-product>
</div>