
<h2>Hello, you have arrived at the supermarket</h2>
<h3>If you are our customer, excellent, enter your details and start enjoying</h3>
<h3>If not sign up below</h3>
<div class="box">

    <h3>
        <mat-icon>login</mat-icon><br>
        Log-in
    </h3>

    <div>


        <form #f="ngForm">
            <mat-form-field appearance="outline">
                <mat-label>Email: </mat-label>
                <input matInput type="email" name="email" [(ngModel)]="userDetails.email" required email
                    #emailBox="ngModel">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>password: </mat-label>
                <input matInput type="password" name="message" [(ngModel)]="userDetails.password" minlength="4" required
                    #passwordBox="ngModel">

            </mat-form-field>

            <mat-error *ngIf="emailBox.errors?.required && emailBox.touched">Missing email</mat-error>
            <mat-error *ngIf="emailBox.errors?.email && emailBox.touched">Invalid email</mat-error>
            <mat-error *ngIf="passwordBox.errors?.required && passwordBox.touched">Missing password</mat-error>
            <mat-error *ngIf="passwordBox.errors?.minlength && passwordBox.touched">Password must be at least 4
                characters long</mat-error>


            <button [disabled]="!f.form.valid" (click)="onLogin()" mat-stroked-button>
                <mat-icon>send</mat-icon>
                Send
            </button>
            <button (click)="onClear()" mat-stroked-button type="reset">
                <mat-icon>delete</mat-icon>
                Clear
            </button>
            <p class="error" *ngIf="showMassege">username or password worng!!!</p>
        </form>
    </div>
    <p>You are still registeard???<br>To register click here
        <button (click)="onRegister()" mat-stroked-button type="reset">
            <mat-icon>message</mat-icon>
            Registration
        </button>
    </p>

</div>