.box{
    display: inline-block;
    text-align: center;
     border: 1px solid black; 
    padding: 5px;
    margin: 10px;
    border-radius: 10px; 
     box-shadow: 5px 5px 10px;
}
form, mat-form-field {
    width: 200px;
    text-align: center;
    margin: auto;
}

button {
    width: 50%;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}
.error{
    color: red;
}