<div>
    <h1>hello {{username}}</h1>
   

<div>
    <container [ngSwitch]="status">
        <app-active-cart *ngSwitchCase="1" [date]=date [price]=price></app-active-cart>
        <app-old-order *ngSwitchCase="2" [date]=date [price]=price></app-old-order>
        <app-new-cart *ngSwitchDefault></app-new-cart>
        
    </container>
</div>


