.bg{
    background-image: url("/assets/beans-at-farmers-market.jpg");
    
    
}
div{
    color: seagreen;
    font-size: 70px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}