



<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
    <div
        class="sidebar-close"
        (click)="sidebarShow = !sidebarShow"
        (click)="close()"
    >
        X
    </div>
    <div class="sidebar-content">
        <h2>Add product</h2>


<form #f="ngForm">
   
    <p>
        <mat-form-field appearance="outline">
            <mat-label>product name: </mat-label>
            <input matInput type="text" name="productName" [(ngModel)]="newProduct.productName" required
                #nameBox="ngModel">
            <mat-error *ngIf="nameBox.invalid && nameBox.touched">Missing name</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Select a category:</mat-label>
            <select matNativeControl [(ngModel)]="newProduct.categoryId" name="categoryId" required
                #categoryIdBox="ngModel">
                <option value=""></option>
                <option *ngFor="let category of categories" [value]="category.categoryId">{{category.categoryName}}
                </option>
            </select>
            <mat-error *ngIf="categoryIdBox.invalid && categoryIdBox.touched">Missing street</mat-error>
        </mat-form-field>
    </p>


    <p>
        <mat-form-field appearance="outline">
            <mat-label>price: </mat-label>
            <input matInput type="text" name="price" [(ngModel)]="newProduct.price" required positive
                #priceBox="ngModel">
            <mat-error *ngIf="priceBox.invalid && priceBox.touched">Missing message</mat-error>
        </mat-form-field>
    </p>


    <p>
        choose image:
        <input #imageControl type="file" accept="image/*" (change)="saveImage($event)" (blur)="imageBlur()" required />
        <!-- <mat-icon>folder</mat-icon> -->
        <span *ngIf="imageVisited && !newProduct.imgPath">Missing image</span>
    </p>
    <p>
        <button [disabled]="!f.form.valid" (click)="onAdd()" mat-stroked-button>
            <mat-icon>send</mat-icon>
            Send
        </button>
        <button mat-stroked-button type="reset">
            <mat-icon>delete</mat-icon>
            Clear
        </button>
    </p>
    <!-- <p>
        <button [disabled]="!f.form.valid" (click)="onAdd()">send</button>
    </p> -->
</form>
<span *ngIf="message"></span>
  
    </div>
  </div>