
::ng-deep .text-highlight {
    background: yellow;
  }
 
  table{
    padding: 10px;
  }
  .order{
   min-width:150px;
   min-height: 200px;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  span{
    color: red;
  }
 h4{
   padding-left: 70px;
 }
 .total{
  color: rgb(57, 57, 247);
    font-size: 18px;
 }
 .pay  .complete{
   margin-bottom: 10px;
   padding-bottom: 10px;
 }