<div class="div"  *ngIf="inOrder">


    <mat-form-field appearance="outline">
        <mat-label>Product For Search </mat-label>
        <input matInput type="text" name="itemSearch" [(ngModel)]="itemSearch" #idBox="ngModel">

    </mat-form-field>


    <table class="order">
        
        <h4>receipt</h4><br>
        <tr *ngFor="let item of items" class="item">
            <td appHighlight [content]="item.productName" [searchTerm]="itemSearch" [caseSensitive]="false">&nbsp;&nbsp;&nbsp;
            </td> *&nbsp;
            <td>{{item.amount}}</td>&nbsp;
            <td>{{(item.amount*item.price).toFixed(2)}}</td>&nbsp;&nbsp;
        </tr><br>
        <tr>
            <td class="total"> Total:</td>
            <td class="total" colspan="5">
                {{shoppingService.totalPrice().toFixed(2)}}&#8362;
            </td>
        </tr>
    </table>
    <br><br>

    <p>
        <button (click)="toPay()" mat-stroked-button>
            <mat-icon>credit_card</mat-icon>
            To pay
        </button>
        <button (click)="back()" mat-stroked-button>
            <mat-icon>store</mat-icon>
            Continue shopping
        </button>
    </p>

    <div class="pay" *ngIf="order">
        <form #f="ngForm">
<p>Enter details for delivery
    <br>With a double click the address will be updated automatically
</p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Select a city:</mat-label>
                    <select matNativeControl [(ngModel)]="orderDetails.cityId" (dblclick)="eventEmitDoubleClickCity($event)" name="cityId" required
                        #cityIdBox="ngModel">
                        <option *ngFor="let city of cities" [value]="city.cityId">{{city.cityName}}</option>
                    </select>
                    <mat-error *ngIf="cityIdBox.invalid && cityIdBox.touched">Missing City</mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Street: </mat-label>
                    <input (dblclick)="eventEmitDoubleClickStreet($event)" matInput type="text" name="street" [(ngModel)]="orderDetails.street" required
                        #streetBox="ngModel">
                    <mat-error *ngIf="streetBox.invalid && streetBox.touched">Missing street</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>date Delivery:</mat-label>
                    <input matInput name="dateDelivery" [matDatepicker]="picker" [min]="minDate" [(ngModel)]="orderDetails.dateDelivery" required #dateBox="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="dateBox.invalid && dateBox.touched">Missing date</mat-error>
                    <span *ngIf="orderFild">The booking day you selected is full.
                        Please select another day</span>
                </mat-form-field>
            </p>
            
            <p>
                <mat-form-field appearance="outline">
                    <mat-label> Enter a credit card number: </mat-label>
                    <input matInput type="number" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|[25][1-7][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$"
                        name="payment" [(ngModel)]="orderDetails.payments" required #paymentsBox="ngModel">
                    <mat-error *ngIf="paymentsBox.errors?.pattern && paymentsBox.touched">Incorrect card number</mat-error>
                    <mat-error *ngIf="paymentsBox.errors?.required && paymentsBox.touched">Missing credit number</mat-error>
                </mat-form-field>
            </p>



            <p>
                <button [disabled]="!f.form.valid" (click)="onClick()" mat-stroked-button>
                    <mat-icon>send</mat-icon>
                    Send
                </button>
                <button mat-stroked-button type="reset">
                    <mat-icon>delete</mat-icon>
                    Clear
                </button>
            </p>

        </form>


    </div>
</div>



<div class="complete" *ngIf="OrderComplete">
    <p>
        Your order has been received and will be processed soon <br>
        To print the receipt,  <a [href]="fileUrl" download="file.txt">click here<mat-icon> local_printshop</mat-icon></a><br>
        <button (click)="send()">Finish</button>
    </p>
</div>

