

<div class="box">

    <h3>
        <mat-icon>registration</mat-icon><br>
        Registration
    </h3>

    <div>
        

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Select a city:</mat-label>
                <select matNativeControl [(ngModel)]="userDetails.cityId" name="cityId" required #cityIdBox="ngModel">
                  <option *ngFor="let city of citise" [value]="city.cityId">{{city.cityName}}</option>
                </select>
                <mat-error *ngIf="cityIdBox.invalid && cityIdBox.touched">Missing street</mat-error>
              </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Street: </mat-label>
                <input matInput type="text" name="street" [(ngModel)]="userDetails.street" required #streetBox="ngModel">
                <mat-error *ngIf="streetBox.invalid && streetBox.touched">Missing street</mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>First Name: </mat-label>
                <input matInput type="text" name="firstName" [(ngModel)]="userDetails.firstName" required #firstNameBox="ngModel">
                <mat-error *ngIf="firstNameBox.errors?.required && firstNameBox.touched">Missing first name</mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Last Name: </mat-label>
                <input matInput type="text" name="lastName" [(ngModel)]="userDetails.lastName" required #lastNameBox="ngModel">
                <mat-error *ngIf="lastNameBox.invalid && lastNameBox.touched">Missing message</mat-error>
            </mat-form-field>
        </p>

        


        <button (click)="onRegistration()" mat-stroked-button>
            <mat-icon>send</mat-icon>
            Send
        </button>
        <button mat-stroked-button type="reset">
            <mat-icon>delete</mat-icon>
            Clear
        </button>
        
    </div> 

     </div> 