div {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 15% 80% 5%;
}

header, footer {
    grid-column: span 6;
}

main {
    grid-column: span 5;
}

/* aside {
    grid-column: span 1;
} */

/* div, div > * {
    border: 1px solid black;
} */