
* {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    box-sizing: border-box;
    font-size: 16px;
    color: black;
    margin-top: 10%;
}

.sidebar-opener {
    cursor: pointer;
    float: left;
}

.sidebar-slider {
    position:absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    background-color:white;
    transform: translateX(-100%);
    transition: ease-in-out 300ms transform;
    width: 300px;
    height: 100%;
    border: black solid 1px;
    border-radius: 5px;
}

.sidebar-slider.sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-in-out 600ms transform;
}

.sidebar-close {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    cursor: pointer;
    padding: 16px;
}

.sidebar-content {
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 16px;
    height: 100%;
}