

<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
    <div
        class="sidebar-close"
        (click)="sidebarShow = !sidebarShow"
        (click)="close()"
    >
        X
    </div>
    <div class="sidebar-content">
        <h2>Edit product</h2>

        <span><app-thumbnail [imageSorce]="imageUrl+productToEdit.imgPath"></app-thumbnail></span>
        <form  #f="ngForm">
            
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>product name: </mat-label>
                    <input matInput type="text" name="productName" [(ngModel)]="productToEdit.productName" required #nameBox="ngModel">
                    <mat-error *ngIf="nameBox.invalid && nameBox.touched">Missing name</mat-error>
                </mat-form-field>
            </p>
        
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Category:</mat-label>
                    <select matNativeControl [(ngModel)]="productToEdit.categoryId" name="categoryId" required #categoryIdBox="ngModel">
                      <!-- <option value="">Select a category</option> -->
                      <option value=""></option>
                      <option *ngFor="let category of categories" [value]="category.categoryId">{{category.categoryName}}</option>
                    </select>
                    <mat-error *ngIf="categoryIdBox.invalid && categoryIdBox.touched">Missing category</mat-error>
                  </mat-form-field>
            </p>
        
        
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>price: </mat-label>
                    <input matInput type="number" name="price" [(ngModel)]="productToEdit.price" required positive min="1" #priceBox="ngModel">
                    <mat-error *ngIf="priceBox.errors?.required && priceBox.touched">Missing price</mat-error>
                    <mat-error *ngIf="priceBox.errors?.min && priceBox.touched">The price must be positive</mat-error>
                </mat-form-field>
            </p>
            
            <p>
                
                choose image:
                <input #imageControl type="file" accept="image/*" (change)="saveImage($event)"
                    (blur)="imageBlur()" required />
                    <!-- <mat-icon>folder</mat-icon> -->
                <span *ngIf="imageVisited && !productToEdit.imgPath">Missing image</span>
            </p>
            <p>
                <button [disabled]="!f.form.valid" (click)="onPush()" mat-stroked-button>
                    <mat-icon>send</mat-icon>
                    Send
                </button>
                <button mat-stroked-button type="reset">
                    <mat-icon>delete</mat-icon>
                    Clear
                </button>
            </p>
            
        </form>
  
    </div>
  </div>