<div>

    <mat-form-field appearance="outline">
        <mat-label> How much {{data.productName}} do you want?: </mat-label>
        <input matInput type="number" name="amount" min="1" [(ngModel)]="amount" required #countBox="ngModel">
        <mat-error *ngIf="countBox.invalid && countBox.touched">Missing amount</mat-error>
        <mat-error *ngIf="countBox.value<1">הכמות חייבת להיות חיובית</mat-error>
    </mat-form-field>
    
    <p>
        <button mat-button mat-dialog-close>
            <mat-icon>clear</mat-icon></button>
        <button mat-button mat-dialog-close [disabled]="!countBox.valid" (click)="onAdd()"><mat-icon>check</mat-icon></button>
        
    </p>
    

</div>


