

<p>
    <span>
        You have an open cart from date {{date|date:"dd/MM/yyyy"}} In the amount of {{price}} shekels
</span>
</p>


<p>
    <button (click)="next()">Continue shopping</button>
    </p>
