

<button *ngIf="!sidebarShow" class="sidebar-opener" (click)="sidebarShow = !sidebarShow" mat-stroked-button>
  <mat-icon>shopping_cart</mat-icon>
   Open =>
</button>

<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div
      class="sidebar-close"
      (click)="sidebarShow = !sidebarShow"
  >
      X
  </div>
  <div class="sidebar-content">
    <h3> {{name}}'s cart </h3>
    <table>
      <!-- <tr>
        <th>Product Name</th>
        <th>Img</th>
        <th>Price per unit</th>
        <th>Amount</th>
        <th>Total Price</th>
      </tr> -->
<br>
      <tr *ngFor="let item of items" class="item">
        <td>
          <app-thumbnail [imageSorce]="imageUrl+item.imgPath"></app-thumbnail>
        </td>
        <td>{{item.productName}}</td>&nbsp;
        <td>{{item.amount}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td class="price">{{item.price}} &#8362;</td>&nbsp;
        
        <!-- <td>{{item.amount*item.price}}</td>&nbsp;&nbsp;&nbsp; -->
        <td>
          <button (click)="deleteItem(item.itemId)" mat-stroked-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td class="total">Total:</td>
        <td class="total" colspan="5">
          {{shoppingService.totalPrice().toFixed(2)}}&#8362;
        </td>
      </tr>

    </table>
<br>
    <p>
      <button (click)="deleteAll()" mat-stroked-button>
        <mat-icon>remove_shopping_cart</mat-icon>
        Delete all products in the cart
      </button>&nbsp; <br>
      <button (click)="toOrder()" [disabled]="items?.length<1" mat-stroked-button>
        <mat-icon>shopping_basket</mat-icon>
        To order
      </button>
     

    </p>

  </div>
</div>
