<br><br>
<div class="about">
    
    <h2>The best and cheapest chain for food products</h2>
    
    <p>You have always dreamed of buying easily, cheaply and in excellent quality <br>You have come to the right place</p>
    <img src="../assets/beans-at-farmers-market.jpg" alt="" srcset="" width="550 px">
    
   
</div>


    <app-general-information></app-general-information>


    <app-welcome-page></app-welcome-page>

<!-- <button (click)="move()">Products</button> -->