*{
    margin: 15px;
    padding: 15px;
}

div{
    float: left;
}
app-general-information{
    float: inline-start;
}
.about {
    background-image: url("/assets/beans-at-farmers-market.jpg");
}


/* app-about{
    background-image: url("/assets/beans-at-farmers-market.jpg");
} */

