div {
	width: 500px;
    height: 500;
    display: inline-block;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(220, 245, 220), white);
    padding-right: 0;
}

img {
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    vertical-align: middle;
    /* float:right; */
}

