

<div *ngIf="product">
    
    <br />
    {{product.productName}}
    
       
    <br>
    
    <img [src]="imageUrl + product.imgPath" />
    
    
    <br>
    <a routerLink="/products">Back to list</a>
</div>