

<app-shopping-site></app-shopping-site>

<app-cart></app-cart>

<div *ngIf="products?.length<1">no product in category</div>
<img *ngIf="!products" [src]="imageUrl+'loding.png'">
  <div *ngFor="let product of products" class="products">
    <img [src]="imageUrl + product.imgPath"/> <br>
    <a routerLink="/product/{{product.productId}}">{{product.productName}}</a><br>
    
    <br>
    <span>{{product.price}} NIS</span>
    <br>

        <button (click)="onPush(product)" mat-stroked-button>
      <mat-icon>add_shopping_cart</mat-icon>
      Add
  </button>
  </div>
  

  
  
 



