/* div:nth-of-type(1){
    height: 85%;

} */
.products{
    position: sticky absolute fixed;
    width: 250px;
    height: 250px;
    margin: 1px;
    padding: 5px;
    display:inline-block;
    font-size: 18px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;*/
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;  */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

div {
    margin: auto;
    height: 30%;
    overflow: auto;
	/* width: 200px; */
    /* display: inline-flex; */
    align-items: center;
    /* background-image: linear-gradient(45deg, lightgreen, white); */
    padding:10px;
    position:-webkit-sticky;
}

img {
    margin: auto;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    /* border: 1px solid black; */
    vertical-align: middle;
    /* float:right; */
}
/* app-cart{
    width: 15%;
    float: left;
} */
span{
    font-size: 22px;
    color: blue;
}

