
.active-link{
color: rgb(207, 212, 238);
font-weight: 700;
font-size: 21px;
cursor: pointer;
}
a{
 cursor: pointer;
}
.categories{
    font-size: 16px;
    display: block;
}
.box{
    display: block;
    padding-left: 150px;
}


app-cart{
width: 15%;
}



