<div class="categories">
    <button (click)="logOut()" mat-stroked-button>
        <mat-icon>logout</mat-icon>Log-Out
    </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <span *ngFor="let category of categories">
        <a [class.active-link]="category.categoryId == selectdCategory" (click)="setCategory(category.categoryId)">
            {{category.categoryName}} </a>|
    </span>
</div>

<div class="box">
    <mat-form-field appearance="outline">
        <mat-label>Product For Search </mat-label>
        <input matInput type="text" name="productSearch" [(ngModel)]="productSearch" #idBox="ngModel">
    </mat-form-field>

    <button (click)="search(productSearch)" mat-stroked-button>
        <mat-icon>search</mat-icon>
        Search
    </button>


<button *ngIf="find" (click)="back()" mat-stroked-button>
    <mat-icon>skip_previous</mat-icon>
    Back To List
</button>
</div>

